@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Manrope:wght@300;400;600;800&display=swap');
@import "tailwindcss";

@theme {
  --font-headline: "Noto Serif", serif;
  --font-body: "Manrope", sans-serif;

  --color-primary: #f2ca50;
  --color-on-primary: #3c2f00;
  --color-background: #131313;
  --color-surface: #1c1b1b;
  --color-on-surface: #e5e2e1;
  --color-on-surface-variant: #d0c5af;
  --color-outline-variant: #4d4635;
}

@layer base {
  body {
    @apply bg-background text-on-surface font-body selection:bg-primary selection:text-on-primary;
  }
}

.text-shadow-gold {
  text-shadow: 0 0 20px rgba(242, 202, 80, 0.3);
}

.glass-panel {
  background: rgba(53, 53, 52, 0.4);
  backdrop-filter: blur(20px);
}
